
table.sections
  tr
    vertical-align top

td.code
  background #272822
  padding-left 1em

td.prose
  padding-right 1em
  color #202020

  h1,h2,h3
    font-family serif

  p
    font-family helvetica, verdana

code.haskell
  color #f8f8f2

  .punct
    color #f8f8f2

  .kw, .syntax, .infix-op, .brace
    color #f92672

  .pragma
    .name
      color #26f972

    .punct
      color #f8f8f2

  .module-name
    color #ae81ff

  .constr-name
    color #ae81ff

  .typesig .name
    color #98ce2c

  .type-name
    color #62cfe3

  .lit.string
    color #f9d060
